.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 1px 8px 7px 2px #62626298;
  transition: box-shadow 1s;
}

.shadowHeader {
  box-shadow: 1px 8px 7px 2px #adffbd98;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logo__title {
  margin: 0 10px;
}

.nav__ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__li {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin: 0 10px;
}

.link {
  text-decoration: none;
  color: var(--couleur-gris);
}

.link:hover {
  color: var(--couleur-jaune);
}

.link:focus:after,
.link:hover:after {
  width: 100%;
  left: 0%;
}

.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--couleur-jaune);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* THEME DARK/LIGHT */
.header__dark {
  background-color: var(--couleur-gris);
}

.header__light {
  background-color: white;
}

.link__light,
.logo__title__light,
.light {
  color: var(--couleur-blanc);
}

.link__dark,
.logo__title__dark,
.header__dark {
  color: var(--couleur-noir);
}

.active {
  color: var(--couleur-jaune);
}
