.collapse {
  width: 70%;
  min-width: 350px;
  margin: 5px;
  padding: 10px 10px 10px 20px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--couleur-bleu);
  border-radius: 5px;
  color: var(--couleur-blanc);
  padding: 10px;
  border: 3px solid var(--couleur-blanc);
}

.header__body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header__nav {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  fill: var(--couleur-blanc);
}

.svg.iconOpen {
  fill: red;
  transform: rotate(135deg);
  transition: transform 0.9s ease-in-out;
}

.svg.iconClosed {
  fill: var(--couleur-blanc);
  transform: rotate(0deg);
  transition: transform 0.9s ease-in-out;
}

.ctn_content {
  border-radius: 0 0 5px 5px;
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}

.content {
  padding: 15px;
  /* color: white; */
  /* background-color: white; */
  border-left: 4px solid var(--couleur-blanc);
  border-bottom: 4px solid var(--couleur-blanc);
  border-right: 4px solid var(--couleur-blanc);
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .header {
    height: 120px;
  }
}
