#head {
  position: relative;
  height: 100vh;
  max-height: 1100px;

  background-image: url("/background002.png");
  background-size: cover;
  background-position: center;
  background-color: var(--couleur-bleu);
  background-blend-mode: color-burn;
}

#head .head {
  width: 90%;
  height: 100%;

  margin: 10px;
  padding: 70px 0px 0px 0px;

  justify-content: space-evenly;
}

@media (max-height: 700px) {
  #head {
    /* position: relative; */
    height: 700px;
  }
}

@media (max-width: 1400px) {
  @media (max-height: 900px) {
    #head {
      /* position: relative; */
      height: 900px;
    }
  }
}

@media (max-width: 992px) {
  #head .head {
    width: 100%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 767px) {
  #head .head {
    width: 100%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
