#head {
  position: relative;
  height: calc(100vh);
  /* min-height: 720px; */
  max-height: 1100px;

  background-image: url("/background002.png");
  background-size: cover;
  background-position: center;
  background-color: var(--couleur-bleu);
  background-blend-mode: color-burn;

  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
}

/* .section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */

#head .head {
  width: 90%;
  height: 100%;

  margin: 10px;
  padding: 50px 0px 0px 0px;

  justify-content: space-evenly;
}

@media (max-height: 900px) {
  #head {
    position: relative;
    height: 900px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  #head .head {
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
