.btn {
  padding: 0.5rem 1rem;
  outline: 2.5px solid var(--couleur-blanc);
  border: 0;
  background: var(--couleur-gris);
  outline-offset: 3px;
  color: var(--couleur-blanc);
  font-size: 1rem;
  border-radius: 100rem;
  transition: 0.4s;
  font-weight: 600;
}

.btn:hover {
  outline-offset: 4.5px;
  background: var(--couleur-jaune);
  color: var(--couleur-gris);
}
