.modal {
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--couleur-blanc);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.card {
  height: fit-content;
  width: 90%;
  max-width: 400px;

  background-color: var(--couleur-gris);
  border: 3px solid var(--couleur-blanc);
  color: var(--couleur-blanc);
  padding: 15px;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
.btnClose {
  background-color: var(--couleur-gris);
  color: var(--couleur-blanc);
  border: 1px solid var(--couleur-blanc);
  border-radius: 5px;
  height: 40px;
  padding: 0 5px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--couleur-blanc);
  padding: 10px 0;
  margin-bottom: 30px;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 2.5px solid var(--couleur-blanc);
  border: 0;
  background: var(--couleur-gris);
  outline-offset: 3px;
  color: var(--couleur-blanc);
  font-size: 1rem;
  border-radius: 100rem;
  transition: 0.4s;
  font-weight: 600;
}

.btn:hover {
  outline-offset: 4.5px;
  background: var(--couleur-jaune);
  color: var(--couleur-gris);
}
