.card {
  border-radius: 20px;
  background: var(--couleur-gris);
  position: relative;
  padding: 3.5rem 1rem 2rem 1rem;
  border: 4px solid var(--couleur-blanc);
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 35px 0;
}

.cardDetails {
  color: var(--couleur-blanc);
  height: 100%;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardImg {
  width: 90px;
  height: auto;
  border: 3px solid var(--couleur-blanc);
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 15px;
  background-color: white;
  position: absolute;
  top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
}

.img {
  height: 60px;
}

.cardButton {
  z-index: 999;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;

  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;

  outline: 2.5px solid var(--couleur-blanc);
  border: 0;
  border-radius: 100rem;
  font-weight: 600;

  background: var(--couleur-gris);
  outline-offset: 3px;
  color: var(--couleur-blanc);
}
.ctn {
  width: 100%;
}

.cardFooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* justify-content: space-between; */
}

.cardTag {
  height: 50px;
}

.cardButton:hover {
  outline-offset: 4.5px;
  background: var(--couleur-jaune);
  color: var(--couleur-gris);
}

.slogan {
  width: 100%;
  font-family: "Satisfy", cursive;
  font-size: 1.6rem;
  margin: 10px 0;
  text-align: center;
}

.competences {
  width: 100%;
}

/*Text*/
.textTitle {
  font-size: 1.2em;
  font-weight: bold;
}

/*Hover*/
.card:hover,
.card:hover .cardImg {
  border-color: var(--couleur-jaune);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .cardImg {
  scale: 1.2;
}
.card:hover .cardButton {
  transform: translate(-50%, 50%);
  opacity: 1;
}
