.img {
  width: auto;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--couleur-bleu);
  object-fit: cover;
}

@media (max-width: 1400px) {
  .img {
    height: 450px;
  }
}

@media (max-width: 992px) {
  .img {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .img {
    height: 250px;
  }
}
