.ctn {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--couleur-bleu);
  object-fit: cover;
}
