.scrollToTopButton {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--couleur-bleu);
  color: var(--couleur-noir);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.scrollToTopButton:hover {
  background-color: var(--couleur-jaune);
}

.clickedButton {
  transform: rotate(360deg);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.section {
  position: relative;
  padding: 20px 0;
  top: -230px;
  /* height: calc(100vh - 60px); */
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.head {
  background-image: url("/background002.png");
  background-size: cover; /* Ajuste la taille de l'image pour couvrir la section */
  background-position: center; /* Centre l'image dans la section */
  background-color: var(--couleur-bleu);
  background-blend-mode: color-burn;
  position: relative;
  align-items: center;
}

.head__info {
  width: 60%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head__img {
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--couleur-blanc);
  object-fit: cover;
  margin-right: 30px;
}
.head__title {
  color: var(--couleur-blanc);
  font-size: 1.5rem;
  width: 100%;
  border: 1px solid red;
  height: 100px;
  display: flex;
  align-items: center;
}
