.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* ABOUT */
.about__body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.body__elem {
  flex-basis: 33%;
  min-width: 300px;
  max-width: 370px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.elem1 {
  justify-content: flex-start;
}
.elem2 {
  justify-content: center;
}
.elem3 {
  justify-content: flex-start;
}
.elem3__p {
  border: 1px solid var(--couleur-gris);
  border-radius: 5px;
  width: 90%;
  height: 80px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__elem h3 {
  padding: 20px 10px;
  text-align: center;
  font-size: 1.3rem;
}

.body__elem p {
  padding: 0 20px;
  text-align: justify;
}

.about__footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* SERVICES */
.services__ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
}

.service__ul {
  list-style-type: none;
}

.service__li {
  padding: 8px 0;
}

/* @media (min-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {

} */
