.form {
  border: 4px solid var(--couleur-blanc);
  border-radius: 10px;
  background-image: url("/background002.png");
  background-size: cover;
  background-position: center;
  background-color: var(--couleur-bleu);
  background-blend-mode: color-burn;
  color: var(--couleur-blanc);

  width: 100%;
  max-width: 600px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ctn {
  width: 100%;
}
.ctn__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagePreview {
  height: 250px;
  width: auto;
}

.label,
.input,
.textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
}

.label {
  width: 100%;
}

.input {
  background-color: var(--couleur-blanc);
  width: 100%;
  height: 40px;
  border: none;
}
.textarea {
  background-color: var(--couleur-blanc);
  height: 300px;
}
.input:active {
  border-color: var(--couleur-jaune);
}

.button {
  margin-top: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: 2.5px solid var(--couleur-blanc);
  border: 0;
  background: var(--couleur-gris);
  outline-offset: 3px;
  color: var(--couleur-blanc);
  font-size: 1rem;
  border-radius: 100rem;
  transition: 0.4s;
  font-weight: 600;
}

.btn:hover {
  outline-offset: 4.5px;
  background: var(--couleur-jaune);
  color: var(--couleur-gris);
}
