.table {
  width: 100%;
  border-collapse: collapse;
}

.table,
.th,
.td {
  border: 2px solid var(--couleur-blanc);
}

.th {
  background-color: var(--couleur-bleu);
  color: var(--couleur-blanc);
  padding: 10px;
  text-align: left;
}

.td {
  padding: 10px;
  text-align: center;
}

.image {
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .th__display {
    display: none;
  }
}
