.aboutArticle {
  border: 4px solid var(--couleur-blanc);
  border-radius: 10px;
  background-image: url("/background002.png");
  background-size: cover;
  background-position: center;
  background-color: var(--couleur-bleu);
  background-blend-mode: color-burn;
  color: var(--couleur-blanc);
}

.titre {
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  padding: 10px;
  text-align: justify;
}
.score {
  gap: 20px;
}

.cv {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
