.ctn {
  padding-left: 10px;
  color: var(--couleur-jaune);
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.cursor {
  background-color: var(--couleur-blanc);
  width: 5px;
  height: 100%;
  margin-left: 5px;
}
