.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;
  box-shadow: 1px 8px 7px 2px #62626298;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: box-shadow 1s;
}

.shadowHeader {
  box-shadow: 1px 8px 7px 2px #adffbd98;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.logo__title {
  margin: 0 10px;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.nav__ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__li {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin: 0 10px;
}

/* LINK */
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--couleur-jaune);
}
.link:hover:after {
  width: 100%;
  left: 0%;
}
.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--couleur-jaune);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* BURGER */
.burger {
  z-index: 1001;

  background-color: var(--couleur-gris);
  border-radius: 3px;
  width: 46px;
  height: 46px;
  padding: 5px;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  display: none;
}
.burger_item {
  width: 100%;
  height: 6px;
  background-color: var(--couleur-blanc);
  border-radius: 3px;
  transition: all 0.6s ease;
  transform-origin: left;
}
.item1_on {
  width: 140%;
  transform: rotate(45deg) translateY(-7px) translateX(3px);
}
.item2_on {
  display: none;
}
.item3_on {
  width: 140%;
  transform: rotate(-45deg) translateY(7px) translateX(3px);
}

/* THEME DARK/LIGHT */
.header__dark {
  background-color: var(--couleur-gris);
}

.header__light {
  background-color: white;
}

.link__light,
.logo__title__light,
.light {
  color: var(--couleur-blanc);
}

.link__dark,
.logo__title__dark,
.header__dark {
  color: var(--couleur-noir);
}

.active {
  color: var(--couleur-jaune);
}

@media (max-width: 992px) {
  /* NAV */
  .nav__ul {
    background-color: var(--couleur-gris);
    position: fixed;

    top: 0;
    right: 0;

    width: 400px;
    padding-top: 30px;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    transition: all 0.6s ease;
  }
  .ul__active {
    display: flex;
    right: 0;
    transition: all 0.6s ease;
  }

  /* LINK */
  .nav__li {
    width: 210px;
    height: 40px;
    border: 2px solid var(--couleur-blanc);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
  }
  .link:after {
    content: "";
  }
  .link:hover:after {
    width: 0%;
    left: 0%;
  }

  /* BURGER */
  .burger {
    display: flex;
  }
  .burger:hover {
    background-color: var(--couleur-jaune);
  }

  .link__dark,
  .header__dark {
    color: var(--couleur-blanc);
  }
}

@media (max-width: 767px) {
  .nav__ul {
    width: 100%;
  }
}
