.ctn_img {
  width: 90px;
  height: auto;
  border: 3px solid var(--couleur-blanc);
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 15px;
  background-color: white;
  position: absolute;
  left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
}

.img {
  height: 60px;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 70px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  height: 40px;
  width: 40px;
}

.infos:hover .ctn_img {
  border-color: var(--couleur-jaune);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.infos:hover .ctn_img {
  scale: 1.2;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
